* {
    margin: 0;
    padding: 0;
    font-family: 'cursive';
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    font-weight: bold;
    font-family: cursive;
    font-size: 45px;

}

.main {
    /* margin: 10px 25px; */
}

.first {
    padding: 15px;
    background: rgb(219, 182, 188);
}

.detail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


}

.det1 {
    margin: 15px;
    font-size: 45px;
}

.detail img {
    width: 50vw;
    margin-left: 100px;
}

.det1 h1 {
    font-family: 'santserret', sans-serif;
    margin-bottom: 15px;
}

.det1 p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'santserret', sans-serif;
    font-size: 35px;
}

.btn1 {
    color: white;
    background: orangered;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    border-radius: 30px;
    border: 3px solid black;
}

.btn1:hover {
    background: rgb(45, 40, 40);
    box-shadow: 4px 4px 4px black;
}

.threeImg {
    margin-top: 100px;
    display: grid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
    grid-template-columns: auto auto auto auto;
}