* {
    margin: 0;
    padding: 0;
    font-family: 'cursive';
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    font-weight: bold;
    font-family: cursive;
    font-size: 45px;

}

/* .main {
} */

.first {
    padding: 15px;
    background: rgb(219, 182, 188);
}

.detail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 40px;

}

.det1 {
    margin: 15px;
    font-size: 45px;
}

.detail img {
    width: 50vw;
    margin-left: 100px;
}

.det1 h1 {
    font-family: 'santserret', sans-serif;
    margin-bottom: 15px;
}

.det1 p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'santserret', sans-serif;
    font-size: 35px;
}

.btn1 {
    color: white;
    background: orangered;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    border-radius: 30px;
    border: 3px solid black;
}

.btn1:hover {
    background: rgb(45, 40, 40);
    box-shadow: 4px 4px 4px black;
}

.threeImg {
    margin-top: 100px;
    display: grid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
    grid-template-columns: auto auto auto auto;
}

.feature {
    padding: 30px;
}

.feature h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    border-bottom: 3px solid orangered;
    margin-bottom: 10vh;
}

.grid1 img {
    width: 20vw;

}

.grid1 {
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid1 p {
    /* text-align: center; */
    text-align: left;
    font-weight: bold;
    font-size: 30px;
    font-family: cursive;
}

.feature h1 {
    font-weight: bold;
    font-family: cursive;
    font-size: 60px;
}

.imge {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    align-items: center;
    background: white;
}



.grid1 span {
    /* text-align: center; */
    text-align: left;
    display: flex;
    /* justify-content: center; */
    margin: 10px;
    font-weight: bold;
    font-size: 25px;
    font-family: cursive;

}

.smart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background: rgb(243, 217, 217);
}

.smart p {
    margin: 25px;
    font-size: 35px;
    /* font-weight: bold; */
    font-family: cursive;
    font-style: oblique;
}

.smart h1 {
    margin: 25px;
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
}