* {
    margin: 0;
    padding: 0;
    font-family: 'cursive';
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    font-weight: bold;
    font-family: cursive;
    font-size: 25px;

}

.main {
    margin: 10px 25px;
}